.idea/compiler.xml
src/main/resources/application.yml
target/classes/application.yml

# === Diretórios comuns ===
target/
bin/
build/
out/

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr

# === Eclipse / Spring Tool Suite (STS) ===
.project
.classpath
.settings/
.springBeans

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === VS Code ===
.vscode/

# === Java geral ===
*.class
*.jar
*.war
*.ear
*.log
